@font-face {
  font-family: 'custom';
  src: url('./fonts/KlarheitGrotesk/KlarheitGrotesk-Book.otf'),
    url('./fonts/KlarheitGrotesk/KlarheitGrotesk-Medium.otf'),
    url('./fonts/KlarheitGrotesk/KlarheitGrotesk-Light.otf'),
    url('./fonts/KlarheitGrotesk/KlarheitGrotesk-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'custom';
  background-color: #ffffff;
  display: block;
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll-lock {
  overflow: hidden;
}
/* Apply the animation to text elements */
p {
  animation: fadeIn 1s ease-in-out;
}
.headerSection {
  height: auto;
  background: #0b0216;
  border-radius: 0px 0px 56px 56px;
  background-image: url('../assets/headerBackLeft.png'),
    url('../assets/headerBackRight.png');
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
}
.headerCointainr {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
}
.headerCointainr img {
  width: 225px;
}
.headerCointainr ul {
  margin-right: 75px;
  font-family: 'custom';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  background: #0b0216;
  border: 1.25px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  padding: 5px;
}
.headerCointainr li {
  border-radius: 100px;
  list-style-type: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.headerCointainr li:hover {
  background-color: #7000ff;
  border-radius: 100px;
}
.headerCointainr a {
  text-decoration: none;
  color: #ffffff;
}
.launchApp {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-decoration: none;
  width: 138px;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.launchApp:hover {
  background: #7000ff;
}
.headerMain {
  display: flex;
  flex-direction: column;
}
.headingDiv {
  color: #ffffff;
  margin: 6rem auto;
}
.heading {
  text-align: center;
  width: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 110%;
  text-align: center;
  margin: 0;
}
.subHeading {
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin: 2rem 0;
}
.headingDiv a {
  text-decoration: none;
  width: 138px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #7000ff;
  align-items: center;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.headingDiv a:hover {
  border: 1px solid #5a00cc;
  background-color: #5a00cc;
}
.portfolioImgDiv {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/portfolioImgBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
.portfolioImg {
  width: 900px;
  margin: auto;
  border-radius: 50px;
}
.invetsmeAndPortfolioWrapper {
  display: flex;
  flex-direction: column;
}
.investmentDiv {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  padding-bottom: 3rem;
}

.investmentDiv div {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.investmentDiv img {
  object-fit: contain;
  height: 42px;
}
.investmentHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.investmentValue {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin: 0;
}
.additionalYeild {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  margin: 4rem auto;
}
.additionalYeild div {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  /* or 53px */
  letter-spacing: -0.03em;
  color: #ffffff;
}
.additionalYeild span {
  color: #7000ff;
}
.additionalYeild a {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  width: 200px;
  height: 48px;
  letter-spacing: 0;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #7000ff;
  align-items: center;
  transition: background-color 0.3s ease;
}
.additionalYeild a:hover {
  border: 1px solid #5a00cc;
  background-color: #5a00cc;
}
.findBest {
  letter-spacing: 0;
  font-style: normal;
  font-weight: 450;
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
}
.buildWith {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.4;
  width: 1200px;
  margin: auto;
}
.buildWith hr {
  width: 90%;
  height: 0;
  opacity: 0.4;
}

.buildWithLogo {
  margin: 1rem auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.buildWithLogo img {
  width: auto;
  height: 40px;
}

/* Main Container start */
.mainContainer {
  position: relative;
  margin: 2rem 0;
}
.mainHeadingDiv {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.productTag {
  margin: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7000ff;
}
.mainHeading {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  font-style: normal;
  line-height: 110%;
  text-align: center;
  color: #0b0216;
  margin: 0;
}
.mainHeading span {
  color: #7000ff;
}
.mainSubHeading {
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin: 2rem 0;
  color: #0b0216;
  opacity: 0.6;
}
.mainHeadingDiv a {
  width: 138px;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #7000ff;
  align-items: center;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.mainHeadingDiv a:hover {
  border: 1px solid #5a00cc;
  background-color: #5a00cc;
}
.productDetails {
  display: grid;
  grid-template-columns: repeat(2, 525px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.mainHeadingDiv {
  margin-top: 5rem;
}
.productCard {
  width: 445px;
  height: 475px;
  background: #f7f8fa;
  border-radius: 32px;
  padding: 40px 40px 0 40px;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
.cardtag {
  border-radius: 20px;
  padding: 10px 20px;
  background: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7000ff;
}
.productCard p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #000000;
}
.cardImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cardThree {
  /* position: absolute;
  top: 20px; */
}
.cardFour {
  /* position: absolute;
  top: -15px; */
}
.cardImgContainer img {
  margin: auto;
  height: 375px;
  width: auto;
}

.secureby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.secureby p {
  margin: 2rem auto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0b0216;
  opacity: 0.4;
}
.secureby div {
  display: flex;
}
.secureby div img {
  width: 209px;
  height: 50px;
}
.technology {
  width: 1200px;
  height: 576px;
  border-radius: 50px;
  background-color: #0b0216;
  background-image: url('../assets/technologyEchlip.png');
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.innerTechnolodyDiv {
  padding: 100px;
}
.technologyTag {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  text-align: start;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8e35ff;
}
.technologyMainHeading {
  margin: 2rem 0;
  width: 600px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.technologySubHeading {
  width: 500px;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.6;
}
.innerTechnolodyDiv div {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 2rem;
}
.innerTechnolodyDiv div a {
  text-decoration: none;
}
.technologyLearnMore {
  width: 138px;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #7000ff;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.technologyLearnMore:hover {
  border: 1px solid #5a00cc;
  background-color: #5a00cc;
}
.technologyViewDocs {
  width: 138px;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.technologyViewDocs:hover {
  background-color: #5a00cc;
}
.featuredOn {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.4;
  width: 1200px;
  margin: 5rem auto;
  color: #000000;
}
.featuredOn hr {
  width: 80%;
}
.feactureLogo {
  display: grid;
  grid-template-columns: repeat(5, 235px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.feactureLogo img {
  margin: auto;
  width: auto;
  height: auto;
  object-fit: contain;
}
.mainContainerLastdiv {
  bottom: -300px;
  background: #f4f6fa;
  background: linear-gradient(to bottom, #ffffff 50%, #f4f6fa 50%);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
  border-radius: 0px 0px 56px 56px;
  width: 100%;
}
.bottomContainer {
}
.questionWeHaveContainer {
  width: 1200px;
  margin: 5rem auto;
  justify-content: space-between;
  display: flex;
}
.questionWeHaveContainer hr {
  opacity: 0.1;
}
.faqTag {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7000ff;
}
.faqHEading {
  margin: 2rem 0;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #0b0216;
  width: 400px;
}
.contactUsFaq {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #0b0216;
  display: flex;
  justify-content: start;
  align-items: center;
}
.faqBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 40px;
  border: 1.25px solid #7000ff;
  border-radius: 90px;
  margin: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #0b0216;
}

.faqBtn:hover {
  color: #ffffff;
  background: #7000ff;
  border: 1.25px solid rgba(112, 0, 255, 0.1);
}
/* colapsable */
.collapsibleContainer {
  width: 690px;
  border-radius: 12px;
  margin: 1rem 0;
  background-color: #f4f6fa;
}
.collapsHeading {
  font-family: 'custom';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #0b0216;
  margin: 0;
}
.collapsible {
  background-color: #f4f6fa;
  color: #0b0216;
  cursor: pointer;
  padding: 12px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: 'ss01' on;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  border-radius: 12px 12px 0 0;
  background-color: #f4f6fa;
}

.collapsible:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\002B';
  font-size: 30px;
  font-weight: 100;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: right;
  margin-left: 5px;
  background: #ffffff;
  color: #7000ff;
  transition: background-color 0.3s ease;
}
.collapsible:hover:after {
  background-color: #f1e5ff;
}
.active:after {
  content: '\002B';
  transform: rotate(45deg);
  color: white;
  background-color: #7000ff;
  transition: background-color 0.3s ease;
}
.active:hover:after {
  background-color: #5a00cc;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f4f6fa;
  border-radius: 0 0 12px 12px;
}
.content p {
  margin-top: 0;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 140%;
  color: #7d7a80;
}
/* collapsible end */
.blogContainer {
  padding-top: 7rem;
  background-image: url('../assets/blogBackground.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #f4f6fa;
}
.o_1 {
  opacity: 0.5;
}

.blogHeader {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.blogTag {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7000ff;
}
.blogHEading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #0b0216;
  width: 400px;
  margin: 1rem 0;
}
.contactUsblog {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #0b0216;
  display: flex;
  justify-content: start;
  align-items: center;
}
.seeAllNewsDiv {
  display: flex;
  align-items: center;
}
.seeAllNews {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #7000ff;
  color: #0b0216;
  border-radius: 90px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.seeAllNews:hover {
  background-color: #7000ff;
  color: #ffffff;
  border: 1.25px solid rgba(112, 0, 255, 0.1);
}
.blogCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.blogCardContainer a {
  text-decoration: none;
}
.blogCard {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #e9ecef;
  transition: box-shadow 0.3s ease;
  border-radius: 16px;
  height: 270px;
}
.blogCard:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.blogCardLeft {
  width: 300px;
}
.blogCardSubHeading {
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 140%;
  color: #7d7a80;
}
.blogCardHeading {
  margin: 1rem 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #000000;
}
.guid {
  background: rgba(112, 0, 255, 0.1);
  border-radius: 6px;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7000ff;
}
.blogCardRight {
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.blogCardRight img {
  width: 200px;
  height: 200px;
}
.blogContainer hr {
  width: 1200px;
  opacity: 0.5;
  margin-top: 5rem;
  margin-bottom: 0;
}
.blogFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
}
.blogFooterLeft {
  display: flex;
}
.blogFooterLeft img {
  width: 250px;
  margin-left: 0;
}
.blogFooterLeft p {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #0b0216;
  width: 450px;
}
.blogFooterRight {
  margin-bottom: auto;
  margin-top: 2rem;
}
.blogFooterRight input {
  padding: 0 20px;
  width: 250px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 8px;
}
.blogFooterRight input:focus {
  outline: none;
  border: 1px solid #7000ff;
}
.blogFooterRight input::placeholder {
  color: #0b0216;
  opacity: 0.3;
}
.blogFooterRight button {
  width: 126px;
  height: 48px;
  background: #7000ff;
  border-radius: 90px;
  border: none;
  color: #ffffff;
  margin: 1rem;
}
.blogFooterRight button:hover {
  background-color: #5a00cc;
}
footer {
  background-color: #f4f6fa;
}
.mainFooterContainer {
  position: relative;
  padding-top: 2rem;
}

.footerContainer {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 544px;
  background-image: url('../assets/footerBackground.png');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #0b0216;
  border-radius: 50px 50px 0 0;
}
.footerTop {
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, #0b0216),
    url('../assets/footerBackgroudTwo1.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: 75%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.footerTop div {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.footerTopGetStart {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8e35ff;
}
.footerTopHeading {
  margin: 2rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 110%;
  width: 550px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.footerTop a {
  text-decoration: none;
  width: 138px;
  height: 48px;
  border: 1px solid #7000ff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #7000ff;
  align-items: center;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.footerTop a:hover {
  background-color: #5a00cc;
}
.footerBottom {
  background: #0b0216;
  height: auto;
  margin: auto;
  padding: 2rem 0;
}
.footerBottom hr {
  opacity: 0.1;
  width: 1200px;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
.footerBottomLeft {
  padding: 2rem auto;
  width: 1200px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.footerBottomLeft img {
  width: 228px;
  height: 32.22px;
}
.footerBottomLeft ul {
  font-family: 'custom';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  background: #0b0216;
  border: 1.25px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  padding: 5px;
}
.footerBottomLeft li {
  list-style-type: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.footerBottomLeft a {
  text-decoration: none;
  color: #ffffff;
}
.footerBottomLeft li:hover {
  background-color: #7000ff;
  border-radius: 100px;
}
.footerBottomRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 1rem auto;
}
.TermsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TermsDiv p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
  color: #ffffff;
  opacity: 0.3;
}
.TermsDiv a {
  margin: 0 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration-line: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.TermsDiv a:hover {
  text-decoration-line: underline;
  color: #ffffff;
}
.socialLogo img {
  margin: 0 1rem;
  transition: opacity 0.3s ease;
}
.socialLogo a {
  text-decoration: none;
}
.socialLogo img:hover {
  opacity: 0.5;
}

/* mobile nav */
.header-area {
  display: none;
}
.featuredOn hr:first-of-type {
  /* your styles here */
  display: none;
}
.portfolioImgMobile {
  display: none;
}
.buildWithMobile {
  display: none;
}
.substakEmbed {
  margin-bottom: auto;
  margin-top: 2rem;
}
.success {
  width: 400px;
}
.footerDisclaimer {
  max-width: 1200px;
  color: #ffffff;
  margin: auto;
  font-size: 10px;
  opacity: 0.4;
}
.footerDisclaimer p {
  padding: 0 20px;
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  margin-top: 15px;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar div {
  margin-top: 2rem;
}
.site-navbar p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.3;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 15px;
  height: 1px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span {
  /* background-color: transparent; */
  margin: 3px;
}
/* .nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
} */
.nav-toggler.toggler-open span:first-child {
  transform: translateY(-1px) rotate(45deg);
  margin: 0;
}
.nav-toggler.toggler-open span:last-child {
  margin: 0;
  transform: translateY(-2px) rotate(-45deg);
}

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
    padding: 0 20px;
  }
  .navbar-area {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #000;
  }
  .header-area {
    display: block;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    padding-top: 30px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid #444; */
    background-color: #0b0216;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar hr {
    width: 80%;
    height: 0;
    opacity: 0.1;
    margin-bottom: 3rem;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
    z-index: 1;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

/* mobile design for remaining */

@media screen and (max-width: 767px) {
  .headerCointainr {
    display: none;
  }
  .headerSection {
    background: #0b0216;
    /* background-image: url('../assets/mobileportfioloImg.png'); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
  }
  .heading {
    width: auto;
    font-size: 40px;
  }
  .subHeading {
    font-size: 14px;
  }
  .invetsmeAndPortfolioWrapper {
    flex-direction: column-reverse;
  }
  .investmentValue {
    font-size: 25px;
  }
  .investmentDiv {
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 1rem;
  }
  .portfolioImgDiv {
    width: auto;
  }
  .investmentHeading {
    font-size: 8px;
  }
  .investmentDiv div {
    flex-basis: 35%;
    margin: auto 1rem;
  }
  .portfolioImg {
    display: none;
  }
  .portfolioImgMobile {
    display: block;
    width: 100%;
  }
  .additionalYeild {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    align-items: center;
    margin: 4rem auto;
  }
  .additionalYeild div {
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  .buildWith {
    display: none;
  }
  .buildWithMobile {
    display: block;
    display: flex;
    color: #ffffff;
  }
  .buildWithMobile hr {
    width: 25%;
    height: 0px;
    opacity: 0.1;
  }
  .buildWithLogo {
    width: auto;
    flex-wrap: wrap;
  }
  .buildWithLogo img {
    flex-basis: 40%;
    height: 50px;
    width: 60px;
    object-fit: contain;
    margin: 1rem;
  }
  .mainHeading {
    font-size: 32px;
    line-height: 110%;
  }
  .mainSubHeading {
    font-size: 14px;
  }
  .productDetails {
    grid-template-columns: repeat(1, 510px);
  }
  .productCard {
    width: 275px;
    height: auto;
    padding: 30px 30px 0 30px;
  }
  .cardImgContainer img {
    height: 250px;
  }
  .productCard p {
    font-size: 28px;
  }
  .secureby {
    margin: 2rem 0;
  }
  .secureby div {
    justify-content: space-evenly;
  }
  .secureby div img {
    width: 40%;
    object-fit: contain;
  }
  .technology {
    width: auto;
    height: 875px;
    background-image: url('../assets/technologyMobileBack.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .innerTechnolodyDiv {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .technologyMainHeading {
    font-weight: 600;
    font-size: 32px;
    width: auto;
    line-height: 110%;
    margin: 20px 0;
  }
  .technologySubHeading {
    font-size: 14px;
    width: auto;
  }
  .featuredOn {
    width: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.05em;
    margin: 4rem auto;
  }
  .featuredOn hr {
    width: 20%;
  }
  .featuredOn hr:first-of-type {
    display: block;
  }
  .feactureLogo img {
    width: 100%;
    object-fit: contain;
  }
  .feactureLogo {
    grid-template-columns: repeat(2, 40%);
  }
  .questionWeHaveContainer {
    width: auto;
    margin: 2rem 1rem;
    flex-direction: column;
  }
  .faqHEading {
    width: auto;
    font-size: 32px;
  }
  .questionsLeft {
    text-align: center;
  }
  .contactUsFaq {
    justify-content: space-evenly;
    align-items: center;
  }
  .collapsibleContainer {
    width: auto;
  }
  .blogCardContainer {
    grid-template-columns: repeat(1, 100%);
    gap: 0;
  }
  .blogHeader {
    margin-left: 1.5rem;
    flex-direction: column;
    width: auto;
  }
  .blogHEading {
    width: auto;
    text-align: center;
  }
  .blogCard {
    flex-direction: column-reverse;
    align-items: center;
    margin: 1rem;
    height: auto;
  }
  .blogCardLeft {
    width: auto;
  }
  .blogCardRight {
    width: 100%;
  }
  .blogCardRight img {
    width: 100%;
    height: 100%;
  }
  .blogContainer {
    padding-top: 3rem;
    background-image: none;
  }
  .blogContainer hr {
    width: auto;
    margin-top: 0;
  }
  .blogFooter {
    margin: auto 1rem;
    width: auto;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .blogFooterLeft img {
    display: none;
  }
  .blogFooterLeft p {
    margin: 1rem auto;
    width: auto;
    text-align: center;
  }

  .blogFooterRight {
    width: 100%;
    flex-direction: column;
  }
  .blogFooterRight input {
    width: -webkit-fill-available;
  }
  .blogFooterRight button {
    width: -webkit-fill-available;
    margin: 1rem 0;
  }
  .footerContainer {
    top: 345px;
    background-image: none;
  }
  .footerTop div {
    width: auto;
    margin: 5rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footerTopHeading {
    width: auto;
    font-size: 40px;
    margin: 1rem 0;
  }
  .footerTop {
    border-radius: 40px 40px 0 0;
    height: 750px;
    justify-content: start;
    background-image: url('../assets/bacgroundFooterMobile.png');
    background-position: bottom;
    background-size: contain;
    background-color: #0b0216;
  }
  .footerBottom hr {
    width: auto;
  }
  .footerBottomLeft {
    width: auto;
    flex-direction: column;
  }
  .footerBottomLeft ul {
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
  }
  .footerBottomRight {
    width: auto;
    flex-direction: column-reverse;
  }
  .TermsDiv {
    flex-direction: column;
  }
  .TermsDiv a {
    margin: 0.5rem auto;
  }
  /* collapsHeading */
  .collapsHeading {
    width: 80%;
  }
  .substakEmbed {
    margin-bottom: 2rem;
  }
  .success {
    width: 375px;
  }
  .headingDiv {
    margin-bottom: -1rem;
  }
  .seeAllNewsDiv {
    margin: auto;
  }
  .blogTag {
    text-align: center;
  }
  .o_1 {
    text-align: center;
  }
  .cardtag {
    font-size: 10px;
  }
}

/* terms adn condition style  */
.termsContainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.spanP {
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}
.termsPara {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
}
.termsPara span {
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
}
.termsHeading {
  font-weight: 700;
  font-size: 24px;
}
.privcyUl,
.termsUl {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
}
